@model List<ContactViewModel>
@{
    ViewBag.Title = "Admin | İletişimler";
}
<main id="main" class="main" style="min-height: 550px;">
    <div class="pagetitle">
        <h1>İletişimler</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item active">İletişimler</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Tüm İletişimler</h5>
                        </div>
                        <!-- Table with stripped rows -->
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">İsim</th>
                                    <th scope="col">Konu</th>
                                    <th scope="col">Mesaj</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Oluşturulma Tarihi</th>
                                    <th scope="col">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var experience in Model)
                                {
                                    <tr class="align-middle">
                                        <td scope="row">@experience.FullName</td>
                                        <td scope="row">@experience.Subject</td>
                                        <td scope="row">@experience.Message</td>
                                        <td scope="row">@experience.Email</td>
                                        <td scope="row">@experience.CreatedDate</td>
                                        <td scope="row">
                                            <a asp-area="Admin" asp-controller="Contact" asp-action="Delete" asp-route-experienceId="@experience.Id" class="btn btn-danger">Sil</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


